<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="4.0"?>

<plugin>

   <extension id="spanish-class"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="Descripción"/>
      <class value="za.ac.uct.cs.multilingualClassDescription.spanish.OWLMultilingualClassDescriptionViewComponent"/>
      <headerColor value="@org.protege.classcolor"/>
      <category value="@org.protege.classcategory"/>
   </extension>

   <extension id="spanish-objectproperty"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="Descripción"/>
      <class value="za.ac.uct.cs.multilingualClassDescription.spanish.OWLMultilingualObjectPropertyDescriptionViewComponent"/>
      <headerColor value="@org.protege.objectpropertycolor"/>
      <category value="@org.protege.objectpropertycategory"/>
   </extension>

</plugin>